/* na razie pisze tu - prosze o info gdzie ma się to znaleźc docelowo */

body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  height: 100vh;
  width: 100%;
  /* tymczasowo */
  background-image: url('../static/assets/img/modes/BackgroundImg/bgImg.jpg');
  background-size: cover;
  animation: move 10s;
}

.container .sidebar {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 80px 100px;
  margin-left: 0;
  border: 2px solid black;
  flex-shrink: 0;
}

.container .sidebar input {
  height: 50px;
  width: 75%;
  margin: 60px auto;
  text-align: center;
  border: 1px black solid;
  border-radius: 50px;
  font-size: 25px;
  text-transform: uppercase;
  background-color: rgba(68, 53, 44, 0.479);
  color: black;
}

.container .sidebar input::placeholder {
  color: rgba(0, 0, 0, 0.664);
  letter-spacing: 2px;
}

.container .sidebar .informations .localization {
  font-size: 25px;
  text-align: center;
}

.container .sidebar .informations .data {
  display: flex;
  flex-direction: column;
  margin-left: 70px;
  margin-top: 100px;
  font-size: 22px;
}

.container .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  height: 100vh;
  width: 100%;
  margin: 0 100px;
  text-align: center;
  font-size: 35px;
}

.container .quote .author {
  display: block;
  width: 100%;
  padding: 20px 50px 0px;
  text-align: right;
}

@media (max-width: 1400px) {
  .container .sidebar {
    width: 400px;
    margin-left: 100px;
    margin-right: 0;
    order: -1;
  }

  .container .sidebar input {
    font-size: 20px;
  }
}

@media (max-width: 1150px) {
  .container {
    align-items: center;
  }

  .container .quote {
    font-size: 25px;
  }
  .container .sidebar {
    width: 300px;
    margin-left: 70px;
  }
  .container .sidebar .informations .localization {
    font-size: 20px;
  }
  .container .sidebar .informations .data {
    width: 65%;
    margin: 40px auto;
    font-size: 20px;
  }
  .container .quote {
    margin: 0 60px;
  }

  .container .sidebar input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .container .sidebar {
    margin: 0px auto 70px;
    width: 80%;
    order: 0;
  }
  .container .sidebar input {
    margin: 40px auto;
  }
  .container .sidebar .informations .data {
    margin: 30px 70px;
  }
  .container .quote {
    width: 70%;
    margin: 40px auto;
    padding: 0 0;
    font-size: 32px;
  }
}

@media (max-width: 550px) {
  .container .sidebar {
    margin-bottom: 60px;
  }
  .container .sidebar input {
    margin: 40px auto;
  }
  .container .sidebar .informations .data {
    width: 65%;
    margin: 30px auto;
  }
  .container .sidebar .informations .data p {
    margin: 15px 0;
  }
}

@media (max-width: 400px) {
  .container .quote {
    text-align: left;
    font-size: 25px;
  }
  .container .sidebar {
    margin-bottom: 40px;
  }
  .container .sidebar input::placeholder {
    font-size: 14px;
  }
  .container .sidebar .informations .localization {
    font-size: 19px;
  }
  .container .sidebar .informations .data {
    width: 80%;
    font-size: 17px;
  }
}
