/* ANIMACJA */
html,
body,
.background {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}

.background {
  width: 100%;
  height: 100%;
  position: absolute;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  position: relative;
}

#card {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 0;
}

.weather {
  overflow: hidden;
  transition: background-color 2s ease;
}
.thunder .weather {
  background: linear-gradient(
    to bottom,
    rgba(45, 43, 78, 0.5) 10%,
    rgba(23, 21, 59, 0) 100%
  );
}
.rain .weather {
  background: linear-gradient(
    to bottom,
    rgba(134, 131, 173, 0.5) 10%,
    rgba(65, 62, 110, 0) 100%
  );
}
.sun .weather {
  background: linear-gradient(
    to bottom,
    rgba(170, 179, 47, 0.5) 10%,
    rgba(32, 29, 71, 0) 100%
  );
}
.weather #inner {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5) 10%,
    rgba(255, 255, 255, 0) 100%
  );
}
.weather #cloud1 {
  fill: #efefef;
}
.thunder .weather #cloud1 {
  fill: #9fa4ad;
}
.weather #cloud2 {
  fill: #e6e6e6;
}
.thunder .weather #cloud2 {
  fill: #8b8e98;
}
.weather #cloud3 {
  fill: #d5d5d5;
}
.thunder .weather #cloud3 {
  fill: #7b7988;
}
.weather .cloud {
  transition: fill 2s ease;
}

#outer,
#back {
  width: 100%;
  height: 100%;
  pointer-events: none;
}
