.container .sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 500px;
  min-height: 75vh;
  margin: 0 100px;
  margin-left: 0;
  border: 2px solid var(--mainFontColor);
  flex-shrink: 0;
  overflow: hidden;
}

.container .sidebar input {
  height: 50px;
  width: 75%;
  margin: 55px auto;
  text-align: center;
  border: 1px solid var(--mainFontColor);
  border-radius: 50px;
  font-size: 25px;
  text-transform: uppercase;
  background-color: rgba(68, 53, 44, 0.479);
  color: var(--mainFontColor);
  order: 1;
  z-index: 1000;
}

.container .sidebar .empty {
  height: 50px;
  width: 75%;
  margin: 55px auto;
}

.container .sidebar input::placeholder {
  color: rgba(0, 0, 0, 0.664);
  letter-spacing: 2px;
}

/* !!! Julita czy poniżej zakomentowany kod jest potrzebny? Bo w html nie ma takich elementów !!!*/

/* .container .sidebar .informations .localization {
  font-size: 25px;
  text-align: center;
}

.container .sidebar .informations .data {
  display: flex;
  flex-direction: column;
  margin: 6% 0 6% 70px;
  font-size: 22px;
}

.container .sidebar .informations .data p {
  margin: 12px 0;
} */

.container .quote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  margin: 0 100px;
  text-align: center;
  font-size: 35px;
}

.container .quote .author {
  display: block;
  width: 100%;
  padding: 20px 50px 0px;
  text-align: right;
}

@media (max-width: 1400px) {
  .container .sidebar {
    width: 400px;
    margin-left: 100px;
    margin-right: 0;
    order: -1;
  }

  .container .sidebar input {
    font-size: 20px;
  }
}

@media (max-width: 1150px) {
  .container .quote {
    font-size: 25px;
  }
  .container .sidebar {
    min-height: 60vh;
    width: 350px;
    margin-left: 70px;
  }
  /* .container .sidebar .informations .localization {
    font-size: 20px;
  }
  .container .sidebar .informations .data {
    width: 65%;
    margin: 40px auto;
    font-size: 20px;
  } */
  .container .quote {
    margin: 0 60px;
  }

  .container .sidebar input::placeholder {
    font-size: 16px;
    letter-spacing: 1px;
  }
}
@media (max-width: 900px) {
  .container .sidebar {
    width: 300px;
  }
}

@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .container .sidebar {
    min-height: calc(60vh - 74px);
    width: 80%;
    margin: 0px auto 70px;
    order: 0;
    flex-grow: 1;
  }
  .container .sidebar input {
    margin: 40px auto;
  }
  /* .container .sidebar .informations .data {
    margin: 30px 70px;
  } */
  .container .quote {
    width: 70%;
    height: 40vh;
    padding: 0;
    font-size: 32px;
  }
}

@media (max-width: 550px) {
  .container .sidebar {
    min-height: calc(60vh - 39px);
    margin-bottom: 35px;
  }
  .container .sidebar input {
    margin: 32px auto;
    height: 40px;
  }
  /* .container .sidebar .informations .data {
    margin: 25px auto;
  }
  .container .sidebar .informations .data p {
    margin: 15px 0;
  } */
  .container .quote {
    font-size: 25px;
  }
}

@media (max-width: 400px) {
  .container .quote {
    font-size: 20px;
  }
  .container .sidebar {
    min-height: calc(60vh - 42px);
    margin-bottom: 40px;
    border-width: 1px;
  }
  .container .sidebar input {
    margin: 25px auto;
  }
  .container .sidebar input::placeholder {
    font-size: 14px;
  }
  /* .container .sidebar .informations .localization {
    font-size: 19px;
  }
  .container .sidebar .informations .data {
    width: 80%;
    font-size: 17px;
  }
  .container .sidebar .informations .data p {
    margin: 8px 0;
  } */
  .container .quote {
    height: 40vh;
  }
}

@media (max-width: 350px) {
  .container .sidebar {
    min-height: calc(58vh - 37px);
    margin-bottom: 35px;
  }
  .container .quote {
    font-size: 18px;
    height: 42vh;
  }
  .container .sidebar input {
    height: 34px;
  }
  /* .container .sidebar .informations .localization {
    font-size: 17px;
  }
  .container .sidebar .informations .data {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 13px;
  } */
}
@media (max-height: 450px) {
  .container {
    flex-direction: column;
  }
  .container .sidebar {
    height: 90vh;
    width: 80%;
    margin: 5vh auto;
    order: 0;
  }
  .container .sidebar input {
    margin: 25px auto;
    height: 40px; /*? */
    width: 50%;
  }
  .container .sidebar input::placeholder {
    font-size: 20px;
  }
  .container .quote {
    width: 70%;
    height: 100vh;
    padding: 0;
    font-size: 32px;
  }
  /* .container .sidebar .informations .data {
    margin: 10px 0 0 30px;
  }
  .container .sidebar .informations .data p {
    display: block;
    flex-wrap: wrap;
    margin: 7px;
  } */
}
